.highscorelink { 
    font-size: 16px;
    font-weight: lighter;
    color: rgb(155, 81, 184);
    padding-left: 15px;
    padding-top: 15px;
}

.time-count {
    position: absolute;
    top: 40px;
    right: 35px;
    font-size: 2.2rem;
}

.quiz-options {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(66, 0, 128);
    font-size: 3rem;
    min-width: 80rem;
}

.quiz-options:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(114, 19, 204);
    transform: scale(1.09);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgba(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgba(224, 11, 11, 1) 100%);
}

/* Heads up display */

#hud {
    display: flex;
}

.hud-prefix {
    text-align: center;
    font-size: 1rem;
    color:rgb(66, 0, 128);
    margin-top: 4rem;
}

.hud-main-text {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .quiz-options {
        min-width: 40rem;
    }
}