* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: Helvetica, Arial, sans-serif;
}

/*.high-score a { 
    font-size: 16px;
    font-weight: lighter;
    color: rgb(155, 81, 184);
    padding-left: 15px;
    padding-top: 15px;
    text-decoration: none;
}

.time-count {
    position: absolute;
    top: 40px;
    right: 35px;
}*/

h1 {
    font-size: 5.4rem;
    color: rgb(66, 0, 128);
    margin-bottom: 5rem;
}

.container p {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: white;
    background-color: rgb(66, 0, 128);
    border-radius: 4px; 
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(188, 74, 241);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(214, 178, 231);
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.quiz-info,
.final-score {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 3px solid rgb(155, 81, 184);
    padding: 20px;
}

.info-title {
    font-size: 40px;
    font-weight: bolder;
}

.info-body {
    font-size: 20px;
}

.quiz-info button,
.final-score button {
    color: white;
    background-color: rgb(66, 0, 128);
    font-size: 20px;
    border: none;
    border-radius: 4px;
    padding: 10px 14px;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}

/* End Page CSS */

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgb(188, 74, 241);
}

input::placeholder {
    color: white;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.4 rem;
    color: white;
    text-align: center;
}

#saveScoreBtn {
    border: none;
}
