body {
    font-family: Helvetica, Arial, sans-serif;
  }

.high-score a { 
    font-size: 16px;
    font-weight: lighter;
    color: rgb(155, 81, 184);
    padding-left: 15px;
    padding-top: 15px;
    text-decoration: none;
}

.time-count {
    position: absolute;
    top: 40px;
    right: 35px;
}

.quiz {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 40px;
    font-weight: bolder;
}

.option-list {
    font-size: 20px;
}

.quiz-info {
    display: none;
    text-align: center;
    border: 3px solid rgb(155, 81, 184);
    padding: 20px;
}

.info-title {
    font-size: 40px;
    font-weight: bolder;
}

.info-body {
    font-size: 20px;
}

.quiz-info button {
    color: white;
    background-color: rgb(66, 0, 128);
    font-size: 20px;
    border: none;
    border-radius: 4px;
    padding: 10px 14px;
    cursor: pointer;
}

.start_btn:hover {
    cursor: pointer;
    background-color: rgb(188, 74, 241);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(214, 178, 231);
    transition: transform 150ms;
    transform: scale(1.03);
}

.quiz-page1 {
    display: none;
    text-align: left;
    border: 3px solid rgb(155, 81, 184);
    padding: 20px;
}

.quiz-page2 {
    display: none;
    text-align: left;
    border: 3px solid rgb(155, 81, 184);
    padding: 20px;
}

.quiz-page3 {
    display: none;
    text-align: left;
    border: 3px solid rgb(155, 81, 184);
    padding: 20px;
}

.quiz-page4 {
    display: none;
    text-align: left;
    border: 3px solid rgb(155, 81, 184);
    padding: 20px;
}

.quiz-page5 {
    display: none;
    text-align: left;
    border: 3px solid rgb(155, 81, 184);
    padding: 20px;
}

.final-score {
    display: none;
    border: 3px solid rgb(155, 81, 184);
    padding: 20px;
}

.final-score button {
    color: white;
    background-color: rgb(66, 0, 128);
    font-size: 14px;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: rgb(188, 74, 241);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(214, 178, 231);
    transition: transform 150ms;
    transform: scale(1.03);
}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgba(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgba(224, 11, 11, 1) 100%);
}